@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    
}

@media only screen and (max-width: 767px) {
    /* phones */
    
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    
}
